<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        TIENDA COMERCIAL "LUIS SHOP".
      </h1>

      <p class="subtitle">
        "Caminando con estilo, un par de zapatos a la vez."
      </p>
    </div>
  </div>
</section>
