<p>Por medio del presente sitio web LUIS SHOP, de ahora en adelante “LA EMPRESA” ofrece un servicio al usuario, bajo la condición que “El Usuario”, acepte sin restricción los términos y condiciones aquí establecidos, de manera tal que al hacer uso de este sitio web, el usuario está aceptando de manera expresa todos y cada uno de los términos y aquí establecidos.

LA EMPRESA se reserva el derecho de modificar el presente acuerdo, así como de realizar cambios a cualquier producto o servicio descritos en el presente sitio web, en cualquier momento, sin que para el efecto deba realizar ningún tipo de notificación previa y/o asumir alguna responsabilidad por tal modificación o cambio.

Los títulos incluidos en el presente han sido únicamente para facilitar su lectura y comprensión, más en ningún momento servirán como fuente de interpretación del mismo.</p>
