<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #333;
      }

      h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      .footer {
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px solid #ccc;
      }

      .footer p {
        font-size: 14px;
        color: #777;
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <h1>Hola <%= @resource.email %>!</h1>

    <p>Alguien ha solicitado un enlace para cambiar su contraseña. Puede hacerlo a través del siguiente enlace:</p>

    <p><a href="<%= edit_password_url(@resource, reset_password_token: @token) %>">Recuperar contraseña</a></p>

    <p>Si no lo solicitó, ignore este correo electrónico.</p>
    <p>Su contraseña no cambiará hasta que acceda al enlace anterior y cree una nueva.</p>

    <p>Si tiene alguna pregunta o necesita ayuda, no dude en contactarnos.</p>
    
    <p>¡Gracias!</p>

    <div class="footer">
      <p>Contáctenos:</p>
      <p>Teléfono: 0999847805</p>
      <p>Email: shopluis2023@gmail.com</p>
    </div>
  </body>
</html>
